.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
  touch-action: pan-y;
}

.scroll-stack-scroller.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-stack-scroller.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.mobile-scroll-stack-wrapper {
  position: relative;
  width: 100%;
  isolation: isolate;
}

.scroll-stack-inner {
  padding: 10vh 1rem 100vh;
  min-height: 200vh;
  position: relative;
}

@media (min-width: 640px) {
  .scroll-stack-inner {
    padding: 15vh 2rem 100vh;
  }
}

@media (min-width: 1024px) {
  .scroll-stack-inner {
    padding: 20vh 5rem 50rem;
  }
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
